:root {
  /*LIGHT THEME*/
  --aqua: #00f7ffff;
  --aero: #00c1e2ff;
  --blue-green: #0099ccff;

  /*DARK THEME*/
  --davys-gray: #595959ff;
  --gray: #7f7f7fff;
  --silver: #a5a5a5ff;
  --silver-2: #ccccccff;
  --white-smoke: #f2f2f2ff;

  /*NIGHT THEME*/
  --black: #02010aff;
  --oxford-blue: #04052eff;
  --federal-blue: #140152ff;
  --navy-blue: #22007cff;
  --duke-blue: #0d00a4ff;

  /*COLORS TO USE*/
  --primary-color: #00a6d3ff;
  --secondary-color: #00c1e2ff;
  --fonts-color: #080705ff;
  --buttons-color: #f2f2f2ff;
  --extra-color: #00f7ffff;
}

/* .leaflet-control-container {
  display: none;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: Arial;
}

/*Hides map stats from the footer*/
.leaflet-control-attribution {
  display: none;
}
/*Positioning satellite*/

/*MAP STYLES*/
#map {
  width: 100vw;
  height: 100vh;

  position: relative;
  z-index: -1;
}
#map:nth-child(n) {
  position: absolute;
  z-index: -2;
}

/*zoom controls*/
.leaflet-top .leaflet-control-zoom {
  border: 0.1px solid var(--fonts-color);
}
.leaflet-control-zoom .leaflet-control-zoom-in {
  border-bottom: 0.1px solid var(--fonts-color);
}
.leaflet-control-zoom .leaflet-control-zoom-out {
  border-top: 0.1px solid var(--fonts-color);
}
.leaflet-control-zoom .leaflet-control-zoom-in,
.leaflet-control-zoom .leaflet-control-zoom-out {
  background-color: var(--secondary-color);
  color: var(--fonts-color);
}

/*countries styles*/
.countries-geojson {
  stroke: var(--fonts-color);
  stroke-opacity: 1;
  stroke-width: 1;
  fill: var(--secondary-color);
}


/* .title {
  position: absolute;
  top: 10px;
  left: calc(50vw - 85px);
  text-decoration: underline;
  font-size: 1.5rem;
} */

.hud-container {
  position: absolute;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  bottom: 70px;
}
.hud-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: fit-content;
  height: 60px;
  padding: 0px 10px;
  background-color: var(--primary-color);

  border-radius: 10px;
  box-shadow: -1px 1px 10px var(--extra-color);

  color: var(--fonts-color);
  font-size: 1rem;
}
.hud-box button {
  width: 30%;
  margin: 0px 10px;
  background-color: var(--buttons-color);
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: var(--fonts-color);
  box-shadow: -1px 1px 1px var(--extra-color);
}
.hud-box button:hover {
  background-color: var(--extra-color);
  cursor: pointer;
}

.info {
  padding: 6px 8px;
  font: 2rem Arial, Helvetica, sans-serif;
  background: var(--secondary-color);
  box-shadow: 0 0 15px var(--extra-color);
  border-radius: 5px;
  text-align: center;
}
.info h4 {
  margin: 0 0 5px;
  color: var(--fonts-color);
  font-size: 1rem;
}
.info p {
  font-size: 1.2rem;
  color: var(--fonts-color);
}
